.DS_Store
.project
.classpath
.gradle
.settings
.idea
.temp*
/*.iml
mzmine.log*
/target
/build
/src/main/resources/mzmineversion.properties
/bin
bio
not-bio
/libglpk*
/*.log
/out
/*.xlsx
/Ontologies
/src/test/log*
/src/test/resources/rawdatafiles/200ngHeLaPASEF_2min_compressed.d
/.run
/src/test/java/import_data/local
/src/test/resources/rawdatafiles/local
/src/test/java/import_data/speed/local/tims32subs/
/src/test/resources/biotransformer/jar/*
licensereport
/src/main/resources/MLModels/traced_model_float64.pt
