graph {
  fill-color: white;
}

edge {
  text-visibility-mode: under-zoom;
  text-visibility: 0.3;
  text-alignment: along;
  fill-mode: plain;
  fill-color: rgb(108, 108, 108);
  /*stroke-width: 1px;*/
  stroke-mode: none;
}

edge.medium {
  fill-color: rgb(108, 108, 108);
  stroke-width: 2.5px;
}
edge.IIN {
  fill-color: rgb(227, 116, 30);
  stroke-width: 1.5px;
  stroke-mode: dashes;
}
edge.FEATURECORR {
  fill-color: rgb(151, 124, 70);
  stroke-width: 1px;
}
edge.COSINE {
  fill-color: rgb(30, 86, 227);
  size-mode: dyn-size;
}
edge.GNPS {
  fill-color: rgb(77, 108, 187);
  size-mode: dyn-size;
  size: 2.5px;
}

edge.IINREL {
  fill-color: rgb(31, 173, 152);
  stroke-mode: dots;
}

node {
  shape: circle;
  text-visibility-mode: under-zoom;
  text-visibility: 3;
  text-alignment: at-right;
  text-offset: 2;
  text-size: 12;
  fill-color: #636363;
  size-mode: dyn-size;
  size: 11px;
  stroke-mode: plain;
  stroke-color: #636363;
  stroke-width: 1px;
}

node:clicked {
  /*fill-color: #f8ec02;*/
  stroke-color: #0d3549;
  stroke-width: 3px;
}

/* node.setAttribute("ui.class", "big, important"); */
/* node.removeAttribute("ui.class"); // go back to default */
node.important {
  fill-color: red;
}

node.big {
  size: 15px;
}

node.MOL {
  text-visibility-mode: under-zoom;
  text-visibility: 0.99;
  fill-color: cyan;
  size: 15px;
}

node.NEUTRAL {
  fill-color: violet;
}

/* add gradient to node: node1.setAttribute("ui.color", 0); from 0 - 1 */
node.GRADIENT {
  fill-mode: dyn-plain;
  fill-color: yellow, orange, #c10000;
}
