/* dark mode stuff */

.root {
    -fx-base: black;

    -fx-accent: derive(#56b4e9,-50%);
    -fx-focus-color: -fx-accent;
    -fx-font-color: lightgray;

    /*-fx-control-inner-background: -fx-base;*/
    /*-fx-control-inner-background-alt: -fx-control-inner-background ;*/
}

/** declare colors here
 deriving most of the colors off the default one makes it easy to get uniform looking themes **/
{
  -pane-bg-match: derive(-fx-base, 30%);

  /** control bg -> button, checkbox...**/
  -control-bg: #202020;
  -control-bg-hovered: #252525;
  -divider-bg: -control-bg;
  -menu-bg: -control-bg;
  -list-bg: -control-bg;

  -column-header-bg: -control-bg;
  -scroll-bar-bg: derive(-fx-base, 15%);

  -highlight: #56b4e9;
  -highlight-dark-border: #19475d;
  -selection-highlight-outline: -highlight;


  -titled-pane-arrow-color: -highlight-dark-border;
  /** **/

  -default-border-color: derive(-fx-base, 10%);

  -selection-unfocused: derive(-fx-base, 10%);

  -cell-odd-bg: -list-bg;
  -cell-even-bg: derive(-list-bg, 2%);
  -cell-selected-bg: derive(-control-bg, 20%);

  -text-color: -fx-font-color;
}
/** All panes **/
/*.grid-pane, .anchor-pane, .border-pane, .split-pane, .stack-pane, .flow-pane, .v-box, .h-box, .region-match-chart-bg  {
  -fx-background-color: -pane-bg;
}*/

.region-match-chart-bg, .tool-bar, .status-bar {
  -fx-background-color: -pane-bg-match;
}

.label{
  -fx-text-fill: -text-color;
}

.text-field {
  -fx-prompt-text-fill: gray;
}

.text-id {
  -fx-fill: -fx-font-color;
}

/** Controls **/
.button, .combo-box, .choice-box, .check-box > .box  {
  -fx-background-color: -control-bg;
  -fx-border-color: -control-bg;
}

.button:hover, .choice-box:hover, .combo-box:hover, .check-box > .box:hover {
  -fx-background-color: -control-bg-hovered;
  -fx-border-color: -selection-highlight-outline;
  -fx-text-fill: white;
}

.separator *.line {
  -fx-background-color: #3C3C3C;
  -fx-border-style: solid;
}

/** Cells **/
.table-row-cell:even,
.list-cell:even,
.tree-table-row-cell:even,
.tree-cell:even {
  -fx-control-inner-background: -cell-even-bg;
  -fx-text-fill: -text-color;
}

.table-row-cell:odd,
.list-cell:odd,
.tree-table-row-cell:odd,
.tree-cell:odd {
  -fx-control-inner-background: -cell-odd-bg;
  -fx-text-fill: -text-color;
}

.table-row-cell:selected {
    -fx-background-color: -highlight;
}

.table-row-cell:selected .text {
       -fx-fill: black ;
}

  /** also counts for TreeTableView **/
.column-header, .filler {
  -fx-border-color: -default-border-color;
  -fx-background-color: -column-header-bg;
}

/** List view **/
/** TableView **/
/** TreeTableView **/
/** TreeView **/
.list-view, .table-view, .tree-table-view, .tree-view {
  -fx-background-color: -list-bg;
  -fx-selection-outline-color: -selection-highlight-outline;
  -fx-selection-bar: -highlight;
  -fx-selection-bar-non-focused: -selection-unfocused;
}

/** Menu Bar **/
.menu-bar {
  -fx-background-color: -menu-bg;
  -fx-control-inner-background: -menu-bg;
}

/** Split pane **/
.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: -divider-bg;
  -fx-border-color: -default-border-color;
}

.split-pane:vertical > .split-pane-divider {
  -fx-background-color: -divider-bg;
  -fx-border-color: -default-border-color;
}

/** TabPane **/
.tab-pane {
  -fx-background-color: -pane-bg-match;
}
.tab {
  -fx-background-color: derive(-control-bg, 10%);
  -fx-border-style: solid solid hidden solid;
}

.tab:selected { /** constantly show an outline when the tab is selected, but no focus outline **/
  -fx-background-color: -control-bg;
  -fx-focus-color: -selection-highlight-outline;
  -fx-border-color: -selection-highlight-outline;
}

/** ScrollPane **/
.scroll-pane > .corner {
  -fx-background-color: -scroll-bar-bg;
}

.scroll-bar {
  -fx-background-color: -scroll-bar-bg;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: -highlight;
}

/** ProgressBar **/
.progress-bar > .bar {
  -fx-background-color: -highlight;
  -fx-box-border: -highlight;
}


.accordion > .titled-pane > .title {
    -fx-background-color: -control-bg, -fx-inner-border, -fx-body-color;
}

.accordion .titled-pane>.title>.arrow-button>.arrow {
    -fx-background-color: -titled-pane-arrow-color;
}
