/*
 * Copyright 2006-2022 The MZmine Development Team
 *
 * This file is part of MZmine.
 *
 * MZmine is free software; you can redistribute it and/or modify it under the terms of the GNU
 * General Public License as published by the Free Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * MZmine is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 * the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with MZmine; if not,
 * write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 */

/** Controls **/
.button, .combo-box, .choice-box, .check-box > .box {
  -fx-background-radius: 2, 2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 1);
  -fx-border-radius: 2, 2;
}

.small-check-box > .box {
  -fx-padding: 0.1em 0.1em 0.18em 0.18em;
}

.small-check-box > .box > .mark {
  -fx-padding: 0.3em 0.3em 0.4em 0.4em;
}

.separator *.line {
  -fx-border-style: solid;
  -fx-border-width: 1px;
}

/** also counts for TreeTableView **/
.column-header {
  -fx-alignment: CENTER;
}

/** Menu Bar **/
.menu-bar {
  -fx-font-size: 10pt;
}
.menu-item {
  -fx-font-size: 10pt;
}


/** Split pane **/
.split-pane:horizontal > .split-pane-divider {
  -fx-border-insets: 0;
}
.split-pane:vertical > .split-pane-divider {
  -fx-border-insets: 0;
}

/** TabPane **/
.tab {
  -fx-padding: 1;
  -fx-background-radius: 2, 0;
  -fx-border-radius: 0;
  -fx-border-insets: 1;
  -fx-border-color:transparent;
}
.tab-pane>*.tab-header-area>*.headers-region>*.tab:selected:top{
	-fx-padding : 1;
	-fx-border-width: 3;

	-fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-style: hidden hidden solid hidden;
}
.tab-pane>*.tab-header-area>*.headers-region>*.tab:selected>*.tab-container>*.tab-label{
	-fx-font-size : 13.0;
}
.tab-pane>*.tab-header-area>*.headers-region>*.tab:top{
	-fx-padding : 1;
}

/** ScrollPane **/
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-radius: 5em;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.tooltip {
    -fx-font-size: 10.0pt;
    -fx-show-delay: 10ms;
}

.splashText {
	-fx-font-size: 8.0pt;
}

#memoryBarLabel {
	-fx-font-size: 9.0pt;
	-fx-label-padding: 0.0 20.0 0.0 20.0;
}

.title-label {
  -fx-font-size: 16.0pt;
}

.bold-title-label {
  -fx-font-size: 16.0pt;
  -fx-font-weight: bold;
}

.text-label {
  -fx-wrap-text: true;
}

.number-column {
  -fx-alignment: CENTER-RIGHT;
}

.white-larger-label {
  -fx-font-size: 14.0pt;
  -fx-text-fill: white;
  -fx-wrap-text: true;
  -fx-font-weight: bold;
}

.white-score-label {
  -fx-font-size: 20.0pt;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.set-color-menu-item:hover, .set-color-menu-item:pressed, .set-color-menu-item {
  -fx-background-color: inherit;
}

.web-view {
  -fx-font-smoothing-type: LCD;
}

.accordion > .titled-pane > .title {
    -fx-background-insets: -1 0 0 0, 0 1 1 1, 1 2 2 2;
    -fx-background-radius: 0, 0, 0;
}