.root {
  -fx-font-size: 18;
}

.menu-bar {
  -fx-font-size: 15pt;
}
.menu-item {
  -fx-font-size: 15pt;
}

.title-label {
  -fx-font-size: 16.0pt;
}

.bold-title-label {
  -fx-font-size: 16.0pt;
  -fx-font-weight: bold;
}
