/* dark mode stuff */

.root {
    -fx-base: #F8F8F8;

    -fx-accent: derive(#009e73,30%);
    -fx-focus-color: -fx-accent;
    -fx-font-color: black;

    /*-fx-control-inner-background: -fx-base;*/
    /*-fx-control-inner-background-alt: -fx-control-inner-background ;*/
}

/** declare colors here
 deriving most of the colors off the default one makes it easy to get uniform looking themes **/
{
  -pane-bg-match: -fx-base;

  /** control bg -> button, checkbox...**/
  -control-bg: #D0D0D0;
  -control-bg-hovered: #D5D5D5;
  -menu-bg: -fx-base;
  -divider-bg: -control-bg;
  -list-bg: -fx-base;

  -column-header-bg: -control-bg;
  -scroll-bar-bg: derive(-fx-base, 15%);

  -highlight: #009e73;
  -highlight-darker: #00543c;
  -selection-highlight-outline: -highlight;

  -titled-pane-arrow-color: -highlight-darker;
  /** **/

  -default-border-color: derive(-fx-base, 10%);

  -selection-unfocused: derive(-fx-base, 10%);

  -cell-odd-bg: -list-bg;
  -cell-even-bg: derive(-list-bg, 2%);
  -cell-selected-bg: derive(-control-bg, 20%);

  -text-color: -fx-font-color;
}
/** All panes **/
/*.grid-pane, .anchor-pane, .border-pane, .split-pane, .stack-pane, .flow-pane, .v-box, .h-box, .region-match-chart-bg  {
  -fx-background-color: -pane-bg;
}*/

/** In light mode we want everything to be white, so we have to set it manually**/
GridPane, AnchorPane, BorderPane, SplitPane, StackPane, FlowPane, VBox, HBox {
  -background-color: -fx-base;
}

.label{
  -fx-text-fill: -text-color;
}

.text-field {
  -fx-prompt-text-fill: gray;
}

.separator *.line {
  -fx-background-color: #3C3C3C;
  -fx-border-style: solid;
}

/** Cells **/
.table-row-cell:even,
.list-cell:even,
.tree-table-row-cell:even,
.tree-cell:even {
  -fx-control-inner-background: -cell-even-bg;
  -fx-text-fill: -text-color;
}

.table-row-cell:odd,
.list-cell:odd,
.tree-table-row-cell:odd,
.tree-cell:odd {
  -fx-control-inner-background: -cell-odd-bg;
  -fx-text-fill: -text-color;
}

.table-row-cell:odd,
.list-cell:odd,
.tree-table-row-cell:odd,
.tree-cell:odd {
  -fx-control-inner-background: -cell-odd-bg;
  -fx-text-fill: -text-color;
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background: -highlight;
    -fx-background-color: -highlight;
}

/* Selected when control is not focused */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: -highlight;
    -fx-background-color: -highlight;
}

.table-row-cell:selected .text {
       -fx-fill: white ;
}



/** Controls **/
.button, .combo-box, .choice-box, .check-box > .box  {
  -fx-background-color: -control-bg;
  -fx-border-color: -control-bg;
}

.button:hover, .choice-box:hover, .combo-box:hover, .check-box > .box:hover {
  -fx-background-color: -control-bg-hovered;
  -fx-border-color: -selection-highlight-outline;
  -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color: -control-bg, -control-bg;
}

.combo-box > .list-cell {
    -fx-background-color: -control-bg, -control-bg;
}

  /** also counts for TreeTableView **/
.column-header, .filler {
  -fx-border-color: -default-border-color;
  -fx-background-color: -column-header-bg;
}

/** List view **/
/** TableView **/
/** TreeTableView **/
/** TreeView **/
.list-view, .table-view, .tree-table-view, .tree-view {
  -fx-background-color: -list-bg;
  -fx-selection-outline-color: -selection-highlight-outline;
  -fx-selection-bar: -highlight;
  -fx-selection-bar-non-focused: -selection-unfocused;
}

/** Menu Bar **/
.menu-bar {
  -fx-background-color: -menu-bg;
  -fx-control-inner-background: -menu-bg;
}


/** Split pane **/
.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: -divider-bg;
  -fx-border-color: -default-border-color;
}

.split-pane:vertical > .split-pane-divider {
  -fx-background-color: -divider-bg;
  -fx-border-color: -default-border-color;
}

/** TabPane **/
.tab-pane {
  -fx-background-color: -pane-bg-match;
}
.tab {
  -fx-background-color: derive(-control-bg, 10%);
  -fx-border-style: solid solid hidden solid;
}

.tab:selected { /** constantly show an outline when the tab is selected, but no focus outline **/
  -fx-background-color: -control-bg;
  -fx-focus-color: -selection-highlight-outline;
  -fx-border-color: -selection-highlight-outline;
}

/** ScrollPane **/
.scroll-pane > .corner {
  -fx-background-color: -scroll-bar-bg;
}

.scroll-bar {
  -fx-background-color: -scroll-bar-bg;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: -highlight;
}

/** ProgressBar **/
.progress-bar > .bar {
  -fx-background-color: -highlight;
  -fx-box-border: -highlight;
}


/* Some useful CSS properties: */
/* 
:focused {
    /*  -fx-font-size: 11pt; 
    -fx-base: rgb(132, 145, 47);
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: blue; 
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke-width: 1;
    -fx-stroke: black;
    -fx-border-color: red;
    -fx-background-color: #333333;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-font: bold italic 20pt "Arial"; 
    -fx-opacity: 0.6;
}
*/


.accordion > .titled-pane > .title {
  -fx-background-color: -menu-bg;
  -fx-border-color: -control-bg;
}

.accordion .titled-pane>.title>.arrow-button>.arrow {
    -fx-background-color: -titled-pane-arrow-color;
}
