<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
  <nodes local="4"/>  
  <modules> 
    <module class="net.sf.mzmine.visualizers.rawdata.tic.TICVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.rawdata.spectra.SpectraVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.rawdata.twod.TwoDVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.rawdata.threed.ThreeDVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.rawdata.neutralloss.NeutralLossVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.peaklist.table.PeakListTableVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.alignmentresult.table.AlignmentResultTableVisualizer"/>  
    <module class="net.sf.mzmine.visualizers.alignmentresult.logratio.AlignmentResultLogratioVisualizer"/>  
    <module class="net.sf.mzmine.batchmode.BatchMode"/>  
    <module class="net.sf.mzmine.methods.filtering.crop.CropFilter"> 
      <parameters>
        <parameter name="MS level" type="INTEGER">1</parameter>
        <parameter name="Minimum M/Z" type="DOUBLE">100.0</parameter>
        <parameter name="Maximum M/Z" type="DOUBLE">1000.0</parameter>
        <parameter name="Minimum Retention time" type="DOUBLE">200.0</parameter>
        <parameter name="Maximum Retention time" type="DOUBLE">1800.0</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.methods.filtering.mean.MeanFilter"> 
      <parameters>
        <parameter name="Window length" type="DOUBLE">0.1</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.methods.filtering.savitzkygolay.SavitzkyGolayFilter"> 
      <parameters>
        <parameter name="Number of datapoints" type="INTEGER">5</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.methods.filtering.chromatographicmedian.CMFilter"> 
      <parameters>
        <parameter name="Window length" type="INTEGER">1</parameter>
        <parameter name="M/Z tolerance" type="DOUBLE">0.1</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.methods.filtering.zoomscan.ZoomScanFilter"> 
      <parameters>
        <parameter name="Minimum M/Z range" type="DOUBLE">10.0</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.methods.peakpicking.recursivethreshold.RecursiveThresholdPicker"/>  
    <module class="net.sf.mzmine.methods.peakpicking.local.LocalPicker"/>  
    <module class="net.sf.mzmine.methods.peakpicking.centroid.CentroidPicker"/>  
    <module class="net.sf.mzmine.methods.deisotoping.simplegrouper.SimpleIsotopicPeaksGrouper"/>  
    <module class="net.sf.mzmine.methods.alignment.join.JoinAligner"/>  
    <module class="net.sf.mzmine.methods.alignment.filterbygaps.AlignmentResultFilterByGaps"/>  
    <module class="net.sf.mzmine.methods.gapfilling.simple.SimpleGapFiller"/>  
    <module class="net.sf.mzmine.methods.normalization.linear.LinearNormalizer"/> 
  </modules> 
</configuration>
