<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
  <modules> 
    <module class="net.sf.mzmine.modules.io.rawdataimport.RawDataImporter"> 
      <parameters>
        <parameter name="Last open directory" type="STRING">/Users/plusik/MZmine projects</parameter>
        <parameter name="Files to import" type="STRING">070308_STD_19_profile.mzXML</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peakpicking.chromatogrambuilder.ChromatogramBuilder"> 
      <parameters>
        <massdetector name="Centroid">
          <parameter name="Noise level" type="DOUBLE">10000.0</parameter>
        </massdetector>
        <massdetector name="Exact mass">
          <parameter name="Noise level" type="DOUBLE">1000.0</parameter>
          <parameter name="Mass resolution" type="INTEGER">60000</parameter>
          <parameter name="Peak model function" type="STRING">Lorentzian extended</parameter>
        </massdetector>
        <massdetector name="Local maxima">
          <parameter name="Noise level" type="DOUBLE">10.0</parameter>
        </massdetector>
        <massdetector name="Recursive threshold">
          <parameter name="Noise level" type="DOUBLE">10.0</parameter>
          <parameter name="Min m/z peak width" type="DOUBLE">0.2</parameter>
          <parameter name="Max m/z peak width" type="DOUBLE">1.0</parameter>
        </massdetector>
        <massdetector name="Wavelet transform">
          <parameter name="Noise level" type="DOUBLE">10.0</parameter>
          <parameter name="Scale level" type="INTEGER">6</parameter>
          <parameter name="Wavelet window size (%)" type="DOUBLE">0.5</parameter>
        </massdetector>
        <massconnector name="Highest data point">
          <parameter name="Min time span" type="DOUBLE">20.0</parameter>
          <parameter name="Min height" type="DOUBLE">10000.0</parameter>
          <parameter name="m/z tolerance" type="DOUBLE">0.0050</parameter>
        </massconnector>
        <parameter name="Mass Detector type" type="INTEGER">1</parameter>
        <parameter name="Chromatogram Builder type" type="INTEGER">0</parameter>
        <parameter name="Suffix" type="STRING">peaklist</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peakpicking.deconvolution.Deconvolution"> 
      <parameters>
        <peakbuilder name="Baseline cut-off">
          <parameter name="Min peak height" type="DOUBLE">10000.0</parameter>
          <parameter name="Min peak duration" type="DOUBLE">2.0</parameter>
          <parameter name="Baseline level" type="DOUBLE">30000.0</parameter>
        </peakbuilder>
        <peakbuilder name="Noise amplitude">
          <parameter name="Min peak height" type="DOUBLE">10000.0</parameter>
          <parameter name="Min peak duration" type="DOUBLE">10.0</parameter>
          <parameter name="Amplitude of noise" type="DOUBLE">1000.0</parameter>
        </peakbuilder>
        <peakbuilder name="Savitzky-Golay">
          <parameter name="Min peak height" type="DOUBLE">1000.0</parameter>
          <parameter name="Min peak duration" type="DOUBLE">10.0</parameter>
          <parameter name="Derivative threshold level" type="DOUBLE">0.98</parameter>
        </peakbuilder>
        <peakbuilder name="Local minimum search">
          <parameter name="Chromatographic threshold" type="DOUBLE">0.85</parameter>
          <parameter name="Search minimum in RT range" type="DOUBLE">20.0</parameter>
          <parameter name="Minimum relative height" type="DOUBLE">0.05</parameter>
          <parameter name="Minimum absolute height" type="DOUBLE">10000.0</parameter>
          <parameter name="Min ratio of peak top/edge" type="DOUBLE">2.0</parameter>
        </peakbuilder>
        <parameter name="Peak Resolver type" type="INTEGER">3</parameter>
        <parameter name="Suffix" type="STRING">resolved</parameter>
        <parameter name="Remove original peak list" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peakpicking.shapemodeler.ShapeModeler"> 
      <parameters>
        <parameter name="Suffix" type="STRING">shaped peaks</parameter>
        <parameter name="Remove original peak list" type="BOOLEAN">false</parameter>
        <parameter name="Mass resolution" type="INTEGER">60000</parameter>
        <parameter name="Shape model" type="STRING"/>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.tic.TICVisualizer"> 
      <parameters>
        <parameter name="Raw data files" type="MULTIPLE_SELECTION"></parameter>
        <parameter name="MS level" type="INTEGER">1</parameter>
        <parameter name="Plot type" type="STRING">Base peak intensity</parameter>
        <parameter name="Retention time" type="RANGE">0.577-2399.4</parameter>
        <parameter name="m/z range" type="RANGE">507.95-529.9744262695312</parameter>
        <parameter name="Selected peaks" type="MULTIPLE_SELECTION"></parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.spectra.SpectraVisualizer"> 
      <parameters>
        <parameter name="Scan number" type="INTEGER">1</parameter>
        <parameter name="thickness" type="DOUBLE">1.0E-5</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.twod.TwoDVisualizer"> 
      <parameters>
        <parameter name="MS level" type="INTEGER">1</parameter>
        <parameter name="Retention time" type="RANGE">0.577-2399.4</parameter>
        <parameter name="m/z range" type="RANGE">100.00403594970703-1000.0153198242188</parameter>
        <parameter name="Intensity threshold" type="DOUBLE">0.0</parameter>
        <parameter name="Top peaks threshold" type="INTEGER">9</parameter>
        <parameter name="Top peaks threshold in the displayed area" type="INTEGER">0</parameter>
        <parameter name="Index threshold combo box" type="INTEGER">0</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.threed.ThreeDVisualizer"> 
      <parameters>
        <parameter name="MS level" type="INTEGER">1</parameter>
        <parameter name="Retention time" type="RANGE">0.577-2399.4</parameter>
        <parameter name="Retention time resolution" type="INTEGER">700</parameter>
        <parameter name="m/z range" type="RANGE">100.00403594970703-1000.0153198242188</parameter>
        <parameter name="m/z resolution" type="INTEGER">700</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.neutralloss.NeutralLossVisualizer"> 
      <parameters>
        <parameter name="X axis" type="STRING">Precursor mass</parameter>
        <parameter name="Retention time" type="RANGE">0.0-600.0</parameter>
        <parameter name="Precursor m/z" type="RANGE">0.0-1000.0</parameter>
        <parameter name="Fragments" type="INTEGER">5</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.peaklist.PeakListTableVisualizer"> 
      <parameters>
        <column type="common" name="ROWID">
          <visible>true</visible>
          <width>43</width>
        </column>
        <column type="common" name="AVERAGEMZ">
          <visible>true</visible>
          <width>68</width>
        </column>
        <column type="common" name="AVERAGERT">
          <visible>true</visible>
          <width>68</width>
        </column>
        <column type="common" name="IDENTITY">
          <visible>true</visible>
          <width>284</width>
        </column>
        <column type="common" name="COMMENT">
          <visible>false</visible>
          <width>100</width>
        </column>
        <column type="common" name="PEAKSHAPE">
          <visible>true</visible>
          <width>374</width>
        </column>
        <column type="datafile" name="STATUS">
          <visible>false</visible>
          <width>17</width>
        </column>
        <column type="datafile" name="PEAKSHAPE">
          <visible>false</visible>
          <width>443</width>
        </column>
        <column type="datafile" name="MZ">
          <visible>false</visible>
          <width>100</width>
        </column>
        <column type="datafile" name="RT">
          <visible>false</visible>
          <width>100</width>
        </column>
        <column type="datafile" name="DURATION">
          <visible>false</visible>
          <width>100</width>
        </column>
        <column type="datafile" name="HEIGHT">
          <visible>false</visible>
          <width>88</width>
        </column>
        <column type="datafile" name="AREA">
          <visible>true</visible>
          <width>212</width>
        </column>
        <rowheight>50</rowheight>
        <peakshapenormalization>PEAKMAX</peakshapenormalization>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.scatterplot.ScatterPlotVisualizer"/>  
    <module class="net.sf.mzmine.modules.visualization.histogram.HistogramVisualizer"> 
      <parameters>
        <parameter name="Raw data files" type="MULTIPLE_SELECTION"></parameter>
        <parameter name="Plotted data type" type="STRING">m/z</parameter>
        <parameter name="Plotted data range" type="RANGE">100.0-1000.0</parameter>
        <parameter name="Number of bins" type="INTEGER">9</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.infovisualizer.InfoVisualizer"/>  
    <module class="net.sf.mzmine.modules.batchmode.BatchMode"> 
      <parameters>
        <batchstep>
          <method>net.sf.mzmine.modules.io.rawdataimport.RawDataImporter</method>
          <parameters>
            <parameter name="Last open directory" type="STRING">/Users/plusik/MZmine projects</parameter>
            <parameter name="Files to import" type="STRING">070308_STD_19_centroid.mzXML 070308_STD_19_profile.mzXML 090112_B_VE_26_neg_06.mzXML</parameter>
          </parameters>
        </batchstep>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.rawdata.cropper.CropFilter"> 
      <parameters>
        <parameter name="Filename suffix" type="STRING">cropped</parameter>
        <parameter name="m/z range" type="RANGE">300.0-310.0</parameter>
        <parameter name="Retention time" type="RANGE">480.0-1080.0</parameter>
        <parameter name="Remove source file" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.rawdata.mean.MeanFilter"> 
      <parameters>
        <parameter name="Filename suffix" type="STRING">filtered</parameter>
        <parameter name="Window length" type="DOUBLE">0.1</parameter>
        <parameter name="Remove source file after filtering" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.rawdata.savitzkygolay.SGFilter"> 
      <parameters>
        <parameter name="Filename suffix" type="STRING">filtered</parameter>
        <parameter name="Number of datapoints" type="INTEGER">5</parameter>
        <parameter name="Remove source file after filtering" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.rawdata.chromatmedian.CMFilter"> 
      <parameters>
        <parameter name="Filename suffix" type="STRING">filtered</parameter>
        <parameter name="Window length" type="INTEGER">1</parameter>
        <parameter name="M/Z tolerance" type="DOUBLE">0.1</parameter>
        <parameter name="Remove source file after filtering" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.rawdata.zoomscan.ZoomScanFilter"> 
      <parameters>
        <parameter name="Filename suffix" type="STRING">filtered</parameter>
        <parameter name="Minimum M/Z range" type="DOUBLE">100.0</parameter>
        <parameter name="Remove source file after filtering" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peakpicking.manual.ManualPeakPicker"/>  
    <module class="net.sf.mzmine.modules.gapfilling.peakfinder.PeakFinder"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">gap-filled</parameter>
        <parameter name="Intensity tolerance" type="DOUBLE">0.2</parameter>
        <parameter name="M/Z tolerance" type="DOUBLE">0.0050</parameter>
        <parameter name="Retention time tolerance type" type="STRING">Absolute</parameter>
        <parameter name="Absolute RT tolerance" type="DOUBLE">40.0</parameter>
        <parameter name="Relative RT tolerance" type="DOUBLE">0.15</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.gapfilling.samerange.SameRange"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">gap-filled</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.isotopes.deisotoper.IsotopeGrouper"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">deisotoped</parameter>
        <parameter name="M/Z tolerance" type="DOUBLE">0.02</parameter>
        <parameter name="RT tolerance" type="DOUBLE">10.0</parameter>
        <parameter name="Monotonic shape" type="BOOLEAN">false</parameter>
        <parameter name="Maximum charge" type="INTEGER">2</parameter>
        <parameter name="Representative isotope" type="STRING">Most intense</parameter>
        <parameter name="Remove original peaklist" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peaklist.duplicatefilter.DuplicateFilter"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">dups</parameter>
        <parameter name="M/Z tolerance" type="DOUBLE">0.01</parameter>
        <parameter name="RT difference maximum" type="DOUBLE">60.0</parameter>
        <parameter name="Require same identification" type="BOOLEAN">false</parameter>
        <parameter name="Remove original peaklist" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peaklist.rowsfilter.RowsFilter"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">only id</parameter>
        <parameter name="Minimum peaks in a row" type="INTEGER">1</parameter>
        <parameter name="Minimum peaks in an isotope pattern" type="INTEGER">1</parameter>
        <parameter name="Minimum m/z" type="DOUBLE">100.0</parameter>
        <parameter name="Maximum m/z" type="DOUBLE">1000.0</parameter>
        <parameter name="Minimum retention time" type="DOUBLE">0.0</parameter>
        <parameter name="Maximum retention time" type="DOUBLE">2400.0</parameter>
        <parameter name="Only identified?" type="BOOLEAN">false</parameter>
        <parameter name="Remove source peak list after filtering" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.alignment.join.JoinAligner"> 
      <parameters>
        <parameter name="Peak list name" type="STRING">negative mode</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.0050</parameter>
        <parameter name="Weight for m/z" type="DOUBLE">10.0</parameter>
        <parameter name="Retention time tolerance type" type="STRING">Absolute</parameter>
        <parameter name="Absolute RT tolerance" type="DOUBLE">30.0</parameter>
        <parameter name="Relative RT tolerance" type="DOUBLE">0.15</parameter>
        <parameter name="Weight for RT" type="DOUBLE">10.0</parameter>
        <parameter name="Require same ID" type="BOOLEAN">false</parameter>
        <parameter name="Weight for ID" type="DOUBLE">0.0</parameter>
        <parameter name="Compare isotope pattern" type="BOOLEAN">false</parameter>
        <parameter name="Isotope pattern score thresold level" type="DOUBLE">0.65</parameter>
        <parameter name="Weight for isotope pattern score" type="DOUBLE">0.0</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.alignment.fragment.FragmentAligner">
      <parameters>
        <parameter name="Peaklist name" type="STRING">Aligned peak list</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.2</parameter>
        <parameter name="Weight for m/z" type="DOUBLE">10.0</parameter>
        <parameter name="Retention time tolerance type" type="STRING">Absolute</parameter>
        <parameter name="Absolute RT tolerance" type="DOUBLE">15.0</parameter>
        <parameter name="Relative RT tolerance" type="DOUBLE">0.15</parameter>
        <parameter name="Weight for RT" type="DOUBLE">10.0</parameter>
        <parameter name="Require same ID" type="BOOLEAN">false</parameter>
        <parameter name="Weight for ID" type="DOUBLE">0.0</parameter>
        <parameter name="Number of fragments" type="INTEGER">50</parameter>
      </parameters>
    </module>  
    <module class="net.sf.mzmine.modules.alignment.ransac.RansacAligner"> 
      <parameters>
        <parameter name="Peak list name" type="STRING">Aligned peak list</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.02</parameter>
        <parameter name="RT tolerance" type="DOUBLE">15.0</parameter>
        <parameter name="RANSAC Iterations" type="INTEGER">0</parameter>
        <parameter name="Minimun Number of Points" type="DOUBLE">0.2</parameter>
        <parameter name="Threshold value" type="DOUBLE">3.0</parameter>
        <parameter name="Curve model" type="BOOLEAN">false</parameter>
      </parameters>
    </module>  
    <module class="net.sf.mzmine.modules.normalization.rtnormalizer.RTNormalizer"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">normalized</parameter>
        <parameter name="M/Z tolerance" type="DOUBLE">0.0050</parameter>
        <parameter name="Retention time tolerance" type="DOUBLE">60.0</parameter>
        <parameter name="Minimum standard intensity" type="DOUBLE">1000000.0</parameter>
        <parameter name="Remove original peak list" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.normalization.linear.LinearNormalizer"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">normalized</parameter>
        <parameter name="Normalization type" type="STRING">Average intensity</parameter>
        <parameter name="Peak measurement type" type="STRING">Peak height</parameter>
        <parameter name="Remove original peak list" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.normalization.standardcompound.StandardCompoundNormalizer"> 
      <parameters>
        <parameter name="Name suffix" type="STRING">normalized</parameter>
        <parameter name="Normalization type" type="STRING">Weighted contribution of all standards</parameter>
        <parameter name="Peak measurement type" type="STRING">Peak area</parameter>
        <parameter name="M/Z vs RT balance" type="DOUBLE">10.0</parameter>
        <parameter name="Remove original peak list" type="BOOLEAN">false</parameter>
        <parameter name="Standard compounds" type="MULTIPLE_SELECTION"></parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.dataanalysis.rtmzplots.RTMZAnalyzer"> 
      <parameters>
        <parameter name="Peak measurement type" type="STRING">Area</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.dataanalysis.projectionplots.ProjectionPlot"> 
      <parameters> 
        <parameter name="Coloring type" type="STRING">No coloring</parameter>  
        <parameter name="Peak measurement type" type="STRING">Peak height</parameter>  
        <parameter name="X-axis component" type="INTEGER">1</parameter>  
        <parameter name="Y-axis component" type="INTEGER">2</parameter> 
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.visualization.intensityplot.IntensityPlot"> 
      <parameters>
        <yValueSource>Peak area</yValueSource>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.isotopes.isotopeprediction.IsotopePatternCalculator"> 
      <parameters>
        <parameter name="Chemical formula" type="STRING">C26H26N3O9S</parameter>
        <parameter name="Minimum % of relative abundance" type="DOUBLE">0.009999999776482582</parameter>
        <parameter name="Charge distribution" type="INTEGER">1</parameter>
        <parameter name="Sign of the charge" type="STRING">Positive</parameter>
        <parameter name="Set automatic height" type="BOOLEAN">true</parameter>
        <parameter name="Height of most abundance isotope" type="DOUBLE">10000.0</parameter>
        <parameter name="Add isotopes masses" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.identification.custom.CustomDBSearch"> 
      <parameters>
        <parameter name="Database file" type="FILE_NAME">/Users/plusik/Documents/Peak identification/peakid.csv</parameter>
        <parameter name="Field separator" type="STRING">,</parameter>
        <parameter name="Field order" type="ORDERED_LIST">m/z,ID,Retention time,Identity,Formula</parameter>
        <parameter name="Ignore first line" type="BOOLEAN">true</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.0050</parameter>
        <parameter name="Time tolerance" type="DOUBLE">60.0</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.identification.fragmentsearch.FragmentSearch"> 
      <parameters>
        <parameter name="Time tolerance" type="DOUBLE">10.0</parameter>
        <parameter name="m/z tolerance of MS2 data" type="DOUBLE">0.0050</parameter>
        <parameter name="Max fragment peak height" type="DOUBLE">0.6</parameter>
        <parameter name="Min MS2 peak height" type="DOUBLE">5000.0</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.identification.adductsearch.AdductSearch"> 
      <parameters>
        <parameter name="Time tolerance" type="DOUBLE">10.0</parameter>
        <parameter name="Adducts" type="MULTIPLE_SELECTION">[M+Na-H] 21.982 m/z,[M+K-H] 37.956 m/z,[M+Mg-2H] 21.969 m/z,[M+NH3] 17.026 m/z,[M+H3PO4] 97.977 m/z,[M+H2SO4] 97.967 m/z,[M+H2CO3] 62.000 m/z</parameter>
        <parameter name="Custom adduct value" type="DOUBLE">0.0</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.0030</parameter>
        <parameter name="Max adduct peak height" type="DOUBLE">0.3</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.identification.complexsearch.ComplexSearch"> 
      <parameters>
        <parameter name="Ionization method" type="STRING">+H</parameter>
        <parameter name="Time tolerance" type="DOUBLE">10.0</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.0030</parameter>
        <parameter name="Max complex peak height" type="DOUBLE">0.3</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.identification.relatedpeaks.RelatedPeaksSearch"> 
      <parameters>
        <parameter name="Time tolerance" type="DOUBLE">10.0</parameter>
        <parameter name="Shape tolerance" type="DOUBLE">0.3</parameter>
        <parameter name="Sharing points" type="DOUBLE">0.5</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.identification.dbsearch.OnlineDBSearch"> 
      <parameters>
        <parameter name="Database" type="STRING"/>
        <parameter name="Peak m/z" type="DOUBLE"/>
        <parameter name="Charge" type="INTEGER">1</parameter>
        <parameter name="Ionization method" type="STRING">-H</parameter>
        <parameter name="Neutral mass" type="DOUBLE">665.1241329099819</parameter>
        <parameter name="Number of results" type="INTEGER">15</parameter>
        <parameter name="Mass tolerance" type="DOUBLE">0.0030</parameter>
        <parameter name="Isotope pattern filter" type="BOOLEAN">false</parameter>
        <parameter name="Isotope pattern score threshold" type="DOUBLE">0.65</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.io.csvexport.CSVExporter"> 
      <parameters>
        <parameter name="Filename" type="FILE_NAME">/tmp/neg.csv</parameter>
        <parameter name="Field separator" type="STRING">,</parameter>
        <parameter name="Export elements" type="MULTIPLE_SELECTION">Export row m/z,Export row retention time,Export row compound name,Export peak area</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.io.xmlexport.XMLExporter"> 
      <parameters>
        <parameter name="Filename" type="FILE_NAME">/Users/plusik/Documents/Metabolome paper 2/MZviewer/data/hcs1_pos.mpl</parameter>
        <parameter name="Compressed file" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.io.xmlimport.XMLImporter"> 
      <parameters>
        <parameter name="Filename" type="FILE_NAME">/Users/plusik/Documents/Metabolome paper 2/Tranche upload/Schizosaccharomyces pombe metabolome/MZviewer/data/hcs1_pos.mpl</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.rawdata.resample.ResampleFilter"> 
      <parameters>
        <parameter name="Filename suffix" type="STRING">resampled</parameter>
        <parameter name="m/z bin length" type="DOUBLE">0.01</parameter>
        <parameter name="Remove source file" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="net.sf.mzmine.modules.peakpicking.msms.MsMsPeakPicker"> 
      <parameters>
        <parameter name="m/z window" type="DOUBLE">0.0050</parameter>
      </parameters> 
    </module> 
  </modules>  
  <desktop> 
    <format type="m/z"> 
      <type>NUMBER</type>  
      <pattern>#0.0000</pattern> 
    </format>  
    <format type="Retention time"> 
      <type>TIME</type>  
      <pattern>m:ss</pattern> 
    </format>  
    <format type="Intensity"> 
      <type>NUMBER</type>  
      <pattern>#0.00</pattern> 
    </format>  
    <mainwindow> 
      <x>0</x>  
      <y>22</y>  
      <width>-1</width>  
      <height>-1</height> 
    </mainwindow>  
    <lastProjectDirectory>/tmp</lastProjectDirectory> 
  </desktop>  
  <preferences>
    <format type="m/z">
      <type>NUMBER</type>
      <pattern>#0.000</pattern>
    </format>
    <format type="Retention time">
      <type>TIME</type>
      <pattern>m:ss</pattern>
    </format>
    <format type="Intensity">
      <type>NUMBER</type>
      <pattern>#0.000</pattern>
    </format>
    <mainwindow>
      <x>0</x>
      <y>22</y>
      <width>-1</width>
      <height>-1</height>
    </mainwindow>
    <lastProjectDirectory>/tmp</lastProjectDirectory>
    <threads auto="true">1</threads>
    <proxy_settings>
      <proxy_address></proxy_address>
      <proxy_port></proxy_port>
    </proxy_settings>
  </preferences> 
</configuration>
