graph {
  fill-color: white;
}

edge {
  text-visibility-mode: under-zoom;
  text-visibility: 0.7;
  text-alignment: along;
  fill-mode: plain;
  fill-color: rgb(108, 108, 108);
  /*stroke-width: 1px;*/
  stroke-mode: none;
}

edge.medium {
  fill-color: rgb(108, 108, 108);
  stroke-width: 2.5px;
}
edge.IIN {
  fill-color: rgb(227, 116, 30);
  stroke-width: 1.5px;
  stroke-mode: dashes;
}
edge.FEATURECORR {
  fill-color: rgb(151, 124, 70);
  stroke-width: 1px;
}
edge.COSINE {
  size-mode: dyn-size;
  fill-mode: dyn-plain;
  fill-color: #8be4ff, #008eff, #19475d, #0d3549;
}
edge.DreaMS {
  size-mode: dyn-size;
  fill-mode: dyn-plain;
  fill-color: #e28A98, #e2687c, #e24660, #e22247;
}
edge.MS2Deepscore {
  size-mode: dyn-size;
  fill-mode: dyn-plain;
  fill-color: #c58bff, #f700ff, #5b195d, #490d38;
}
edge.OTHER {
  size-mode: dyn-size;
  fill-mode: dyn-plain;
  fill-color: #ffe519, #ffa63e, #da7e0e, #885313, #492d0d;
}
edge.GNPS {
  fill-color: rgb(77, 108, 187);
  size-mode: dyn-size;
  size: 2.5px;
  fill-mode: dyn-plain;
  fill-color: #8be4ff, #008eff, #19475d, #0d3549;
}

edge.IINREL {
  fill-color: rgb(31, 173, 152);
  stroke-mode: dots;
}

node {
  shape: circle;
  text-visibility-mode: under-zoom;
  text-visibility: 3;
  text-alignment: at-right;
  text-offset: 2;
  text-size: 12;
  fill-color: #636363;
  size-mode: dyn-size;
  size: 11px;
  stroke-mode: plain;
  stroke-color: #636363;
  stroke-width: 1px;
}

node:clicked {
  /*fill-color: #f8ec02;*/
  stroke-color: #0d3549;
  stroke-width: 3px;
}

/* node.setAttribute("ui.class", "big, important"); */
/* node.removeAttribute("ui.class"); // go back to default */
node.important {
  fill-color: red;
}
node.annotated {
  shape: diamond;
}

node.big {
  size: 15px;
}

node.MOL {
  text-visibility-mode: under-zoom;
  text-visibility: 0.99;
  fill-color: cyan;
  size: 15px;
}

node.NEUTRAL {
  fill-color: violet;
}

/* add gradient to node: node1.setAttribute("ui.color", 0); from 0 - 1 */
node.FEATURE {
  fill-mode: dyn-plain;
  fill-color: #ffffe6, yellow, orange, #c10000,
  #570025, black;
}

node.root_fragment {
  fill-color: #156CA2;
}
