
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish packages to GitHub Packages
on:
  workflow_dispatch
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '23.0.2'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Publish mzmine packages
        run: ./gradlew publish -Pmziorepo=true
        env:
          PUBLISH_PACKAGE_USERNAME: ${{ secrets.PUBLISH_PACKAGE_USERNAME }}
          PUBLISH_PACKAGE_TOKEN: ${{ secrets.PUBLISH_PACKAGE_TOKEN }}
      - name: Publish convention plugins
        run: ./gradlew convention-plugins:java-convention:publish -Pmziorepo=true
        env:
          PUBLISH_PACKAGE_USERNAME: ${{ secrets.PUBLISH_PACKAGE_USERNAME }}
          PUBLISH_PACKAGE_TOKEN: ${{ secrets.PUBLISH_PACKAGE_TOKEN }}
